# Application Configuration
APP_NAME=SCANOSS HFH Server
APP_PORT=50061
REST_PORT=40061
APP_DEBUG=false
APP_TRACE=false
APP_MODE=dev

# Logging Configuration
LOG_DYNAMIC=true
LOG_DYNAMIC_PORT=localhost:60061
LOG_JSON_CONFIG=

# Telemetry Configuration
OTEL_ENABLED=false
OTEL_EXPORTER_OLTP=0.0.0.0:4317

# TLS Configuration
COMP_TLS_CERT=
COMP_TLS_KEY=
COMP_TLS_CN=

# Filtering Configuration
COMP_ALLOW_LIST=
COMP_DENY_LIST=
COMP_BLOCK_BY_DEFAULT=
COMP_TRUST_PROXY=

# Qdrant Configuration
QDRANT_HOST=localhost
QDRANT_PORT=6334
