[Unit]
Description=SCANOSS Folder Hashing API Service
After=network.target docker.service
Wants=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=scanoss
Environment=HFH_ENVIRONMENT=prod
Environment=HFH_CONFIG_METHOD=json
Environment=HFH_CONFIG_PATH=
ExecStart=/usr/local/bin/scanoss-hfh-api.sh ${HFH_ENVIRONMENT} ${HFH_CONFIG_METHOD} ${HFH_CONFIG_PATH}
ExecStartPre=/bin/bash -c 'until docker ps | grep scanoss-qdrant; do sleep 2; done'

[Install]
WantedBy=multi-user.target
